#SSO_Header {
    width: 100%;
}

#SSO_Footer {
    width: 100%;
}

#SSO_Login {
    background-color:A2CD5A;
    border: none;
    border-radius: 4px; 
}

.content {
    text-align:center;
}