#webbanner {
    width: 100%;
    height: 45%;
}

#websitebottom {
    width: 100%;
}
.area_to_distribute_evenly {
    width:100%;
    display:flex;
    justify-content: space-between;
}

.object_to_distribute_evenly {
    width:30%;
    float:left;
    margin:10px;
}

.top_part {
    text-align:center;
}

.contact_form {
    display:flex;
    justify-content: center;
}